<div class='movie'>
  <img src='{{image}}' />
  <h3>{{name}}</h3>
  <div>Starring: {{starring}}</div>
  <div>Director: {{director}}</div>
  <div>Year: {{year}}</div>
  <div>Run time: {{runTime}}</div>
  <div>Genre: {{genre}}</div>
  <div>Synopsis: {{synopsis}}</div>


  <a href="/moviedetails/{{id}}/edit">Add review</a>
  <br><br>
  {{!-- <buttton type="submit" class='btnn'><a href='#'>Next Movie</a></buttton> --}}
      <div class='button'>
      <button id="btnnGen" onclick="Generator()" type="submit" class='btnn'>Next movie!</button>

<script>
    document.getElementById("btnnGen").addEventListener("click", myFunction);

    function myFunction() {
      let randomNum = Math.floor(Math.random() * 5) + 1
      document.getElementById("btnnGen").innerHTML = "YOU CLICKED ME!";
      window.location.href = `/moviedetails/${randomNum}`
    }
</script>
<br><br><br><br>
</div>

